@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap');

:root {
  --primary: #38bdf8;
  --bg-dark: #050505;
}

body {
  margin: 0;
  background-color: var(--bg-dark);
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-x: hidden;
}